*{
  box-sizing: border-box;
}
:root{
  --red:#DB3730;
  --orange:#FD9839;
  --white: white;
  --grey:rgb(105, 105, 105);
  --gold:#FFC357;
  --darkGold: #D98E2F;
  --Blue:#88C6F6;
  --lightblue:#BCDCFD;
  --black:black;
}
@font-face {
  font-family: Nexa;
  src: url(Nexa/Nexa-Light.otf);
  font-weight: light;
}
@font-face {
  font-family: Nexa;
  src: url(Nexa/Nexa-Bold.otf);
  font-weight: bold;
}
*{
  font-family: Nexa;
}
h2, h3, h4, h5, h6, p{
  font-size: 1.2em;
}
#upperGlass{
  width: 80px;
  height: 120px;
  border-bottom: 6px solid var(--black);
  border-left: 6px solid var(--black);
  border-right: 6px solid var(--black);
  background-image: linear-gradient( to right, var(--Blue), var(--lightblue), var(--Blue));
  border-radius:35% 35% 25% 25%;
  margin-bottom: 0;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  z-index: 1;
  box-shadow: inset 3px -2px 7px var(--grey);
  box-shadow: -3px 2px 4px var(--grey);
}
#upperGlass>div{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, var(--darkGold), var(--gold));
  padding-top: .5%;
  background-color: red;
  border-radius: 40% 40% 25% 25%;
  z-index: -2;
  clip-path: polygon(18% 0, 85% 0, 92% 10%, 95% 15%,100% 30%, 100% 100%, 0 100%, 0 30%, 1% 8%, 10% 10%);
}
#lowerGlass{
  width: 80px;
  height: 120px;
  border-top: 6px solid var(--black);
  border-left: 6px solid var(--black);
  border-right: 6px solid var(--black);
  background-image: linear-gradient( to right, var(--Blue), var(--lightblue), var(--Blue));
  border-radius: 25% 25% 35% 35%;
  margin-top: 0;
  padding: 0;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  z-index: 0;
  box-shadow: inset 3px -2px 7px var(--grey);
  box-shadow: -3px 2px 4px var(--grey);
}
#lowerGlass>div{
  width: 100%;
  height: 0%;
  background-image: linear-gradient(to top, var(--darkGold), var(--gold));
  padding: .5%;
  border-radius: 40% 40% 25% 25%;
  transform: inherit;
  z-index: -2;
  clip-path: polygon(30% 0, 70% 0, 85% 5%, 95% 15%,100% 30%, 100% 100%, 0 100%, 0 30%, 5% 15%, 14% 6%);
}
#holder{
  width: 90%;
  height: 90%;
  border: 16px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: linear-gradient(white, white), 
                    linear-gradient(to bottom, var(--orange), var(--red)),
                    linear-gradient(white, white);
  background-origin: border-box;
  background-clip: content-box, border-box, border-box;
  box-shadow: inset 3px -2px 7px var(--grey);
}
form#timeInput input,label{
  height: auto;
  width: 10%;
  max-width: 70px;
  font-size: 1.2em;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#reset{
  display: none;
}
#pointer{
  width: 98%;
  height: 55%;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: rotate(90deg);
}
#pointer p{
  width: 20px;
  height: 20px;
  background-color: red;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  color: var(--white);
}
#combo{
  width: 340px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('clock-face-png-6-Transparent-Images.png');
  background-size: 100%;
}
button{
  background-color: var(--orange);
  padding: 10px;
  border-radius: 5px;
  color: var(--white);
  font-size: 1.2em;
  box-shadow: 2px 2px 5px var(--grey);
  border: 2px solid var(--white);
  margin: 2%;
}
button#submit{
  width: 50px;
}
@keyframes rotate {
  from{
    transform: rotate(90deg);
  }
  to{
    transform: rotate(450deg);
  }
}
